<%- await include('views/header.ejs', { title: 'Welcome' }) %>

<form action="/prduct_detail" method="post">
    <div class="row">
        <h1>Products</h1>
        <% for (let i = 0; i < product.length; i++) {  %>
            <div class="col">
                <div><h3><%= product[i].productName %></h3></div>
                <div><a href="/product_detail/<%= product[i].id %>" class="products"><img src="<%= product[i].imageName %>" alt="<%= product[i].productName %>"></a></div>
                <div><input class="btn btn-primary" type="sumit" name="<%= product[i].productName %>" value="CHF <%= product[i].normalPrice.toFixed(2) %>"></div>
            </div>
        <% } %>
    </div>    
</form>

<%- await include('views/basket.ejs') %>
<%- await include('views/footer.ejs') %>